<html>
  <head>
    <title>Scanner Calibration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
  </head>
  <body>
    <div class="stream-container"></div>
    <div class="buttons">
      <button class="sick-button" onclick="onIncreaseButtonClick()">Increase</button>
      <button class="sick-button" onclick="onDecreaseButtonClick()">Decrease</button>
      <button class="sick-button" onclick="onShowStreamButtonClick()">Show stream</button>
      <button class="sick-button" onclick="onHideStreamButtonClick()">Hide stream</button>
    </div>
    <div class="settings">
      <div class="settings-item">
        <label>Shutter speed:</label>
        <input type="number" class="shutter-speed">
      </div>
      <div class="settings-item">
        <label>FPS:</label>
        <input type="number" class="frame-rate">
      </div>
      <div class="settings-item">
        <label>Iso:</label>
        <input type="number" class="iso">
      </div>
      <div class="settings-item">
        <label>Height:</label>
        <input type="number" class="height">
      </div>
      <div class="settings-item">
        <label>Width:</label>
        <input type="number" class="width">
      </div>
      <button class="sick-button sick-button-full-width settings-button" onclick="onSaveSettingsButtonClick()">Save settings</button>
    </div>
    <div class="recording-container"></div>
    <script src="js/main.js"></script>
  </body>
</html>
