<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <div class="stream-container"></div>
    <div class="buttons">
      <button class="sick-button" onclick="onIncreaseButtonClick()">Increase</button>
      <button class="sick-button" onclick="onDecreaseButtonClick()">Decrease</button>
      <button class="sick-button" onclick="onSnapshotButtonClick()">snapshot</button>
      <button class="sick-button" onclick="onShowStreamButtonClick()">Show stream</button>
      <button class="sick-button" onclick="onHideStreamButtonClick()">Hide stream</button>
    </div>
    <div class="settings">
      <div class="settings-item">
        <label>Shutter speed:</label>
        <input type="number" class="shutter-speed">
      </div>
      <div class="settings-item">
        <label>FPS:</label>
        <input type="number" class="frame-rate">
      </div>
      <div class="settings-item">
        <label>Iso:</label>
        <input type="number" class="iso">
      </div>
      <button class="sick-button" onclick="onSaveSettingsButtonClick()">Save settings</button>
    </div>
    <div class="snapshot-container"></div>
    <script src="js/main.js"></script>
  </body>
</html>
